.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


.cell {
	width: 50px;
	height: 50px;
	border: 1px solid black;
	align-items: center;
	position: relative;
	cursor: pointer;
  }

  .row {
	display: flex;
  }

  .cell-with-ships {
	background-color: red;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	align-items: center;
	position: relative;
	cursor: pointer;
  }

  #board {
	width: 50*10px;
	height: 50*10px;
  }


  
  #main {
	display: inline-flex;
	
  }